<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy"
        content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *;**script-src 'self' http://onlineerp.solution.quebec 'unsafe-inline' 'unsafe-eval';** ">
    <link rel="icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../../dist/css/Shared/layoutTailWind.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <title>Todo List App</title>
</head>

<style>
    html {
        overflow: hidden;
    }

    @keyframes append-animate {
        from {
            transform: translateX(-100%);
            opacity: 0;
        }

        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }

    @keyframes delete-animate {
        from {
            transform: translateX(0%);
            opacity: 1;
        }

        to {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    @keyframes spin-animation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(359deg);
        }
    }

    .new-box {
        transform-origin: 50% 0;
        animation: append-animate .3s linear;
    }

    .remove-box {
        transform-origin: 50% 0;
        animation: delete-animate .3s linear;
    }

    .is-important {
        animation: spin-animation 0.5s infinite;
    }

    .nusuk {
        display: none;
    }
</style>

<body>
    <div id="layoutApp"
        class="tw-h-screen tw-w-full tw-bg-white tw-relative tw-flex tw-overflow-hidden tw-bg-slate-200">
        <!-- Sidebar -->
        <aside id="sidebar"
            class="tw-ease-in-out tw-duration-500 tw-h-full tw-flex tw-flex-col tw-space-y-10 tw-items-left tw-bg-cyan-800 tw-text-slate-200"
            :class="sidebarClass">
            <!-- Profile -->
            <div class="tw-space-y-2 tw-pt-4 tw-pl-4 tw-cursor-pointer" v-on:click="expandSidebar()">
                <svg class="tw-w-8 tw-h-8" :class="whichHeaderIcon[0]" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>

                <svg class="tw-h-8 tw-w-8" :class="whichHeaderIcon[1]" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M11 19l-7-7 7-7m8 14l-7-7 7-7" />
                </svg>
            </div>

            <div class="tw-space-y-8 tw-pl-3">
                <div @click="onChangeNav('MyDay')" id="MyDayDiv"
                    class="tw-mr-4 tw-rounded-lg tw-cursor-pointer tw-items-left hover:tw-text-white-800 hover:tw-bg-cyan-600 hover:tw-duration-300 hover:tw-ease-linear">
                    <div class="tw-flex tw-flex-row tw-w-full" style="width: 100%">
                        <div class="tw-h-10 tw-w-10 tw-items-center tw-flex tw-justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-8 tw-w-8" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" tw-
                                    d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                            </svg>
                        </div>
                        <div class="tw-items-center tw-flex tw-justify-center" :class="showNavText[1]"
                            style="position: relative; left: 1.2rem">
                            <span class="tw-tw-text-md tw-font-medium ">My Day</span>
                        </div>
                    </div>
                </div>

                <div @click="onChangeNav('Important')" id="ImportantDiv"
                    class="tw-mr-4 tw-rounded-lg tw-cursor-pointer tw-items-left hover:tw-text-white-800 hover:tw-bg-cyan-600 hover:tw-duration-300 hover:tw-ease-linear">
                    <div class="tw-flex tw-flex-row tw-w-full" style="width: 100%">
                        <div class="tw-h-10 tw-w-10 tw-items-center tw-flex tw-justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-6 tw-w-6" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                            </svg>
                        </div>
                        <div class="tw-items-center tw-flex tw-justify-center" :class="showNavText[1]"
                            style="position: relative; left: 1.2rem">
                            <span class="tw-text-md tw-font-medium ">Important</span>
                        </div>
                    </div>
                </div>

                <div @click="onChangeNav('Planned')" id="PlannedDiv"
                    class="tw-mr-4 tw-rounded-lg tw-cursor-pointer tw-items-left hover:tw-text-white-800 hover:tw-bg-cyan-600 hover:tw-duration-300 hover:tw-ease-linear">
                    <div class="tw-flex tw-flex-row tw-w-full" style="width: 100%">
                        <div class="tw-h-10 tw-w-10 tw-items-center tw-flex tw-justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-6 tw-w-6" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                            </svg>
                        </div>
                        <div class="tw-items-center tw-flex tw-justify-center" :class="showNavText[1]"
                            style="position: relative; left: 1.2rem">
                            <span class="tw-text-md tw-font-medium ">Planned</span>
                        </div>
                    </div>
                </div>

                <div @click="onChangeNav('Tasks')" id="TasksDiv"
                    class="tw-mr-4 tw-rounded-lg tw-cursor-pointer tw-items-left hover:tw-text-white-800 hover:tw-bg-cyan-600 hover:tw-duration-300 hover:tw-ease-linear">
                    <div class="tw-flex tw-flex-row tw-w-full" style="width: 100%">
                        <div class="tw-h-10 tw-w-10 tw-items-center tw-flex tw-justify-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="tw-h-6 tw-w-6" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-6 9l2 2 4-4" />
                            </svg>
                        </div>
                        <div class="tw-items-center tw-flex tw-justify-center" :class="showNavText[1]"
                            style="position: relative; left: 1.2rem">
                            <span class="tw-text-md tw-font-medium ">Tasks</span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>

        <div class="tw-w-full tw-h-full tw-flex tw-flex-col tw-justify-between">
            <!-- Header -->
            <header
                class="tw-h-16 tw-w-full tw-flex tw-items-center tw-relative tw-justify-end tw-px-5 tw-space-x-10 tw-bg-cyan-800 tw-text-slate-200">
                <!-- Informatio -->
                <div class="tw-flex tw-absolute tw-flex-shrink-0 tw-items-center tw-space-x-4">
                    <!-- Texto -->
                    <div class="tw-flex tw-flex-col tw-items-end ">
                        <div class="tw-text-md tw-font-medium">{{ userProfile.userName }}</div>
                        <div class="tw-text-sm tw-font-regular">Developer</div>
                    </div>
                    <!-- Foto -->
                    <div @click="openUserDropdown()"
                        class="tw-h-10 tw-w-10  tw-rounded-full tw-cursor-pointer tw-bg-gray-200 tw-border-2 tw-border-blue-400">
                        <img class="tw-rounded-full userdropbtn" src="/assets/me.jpg" alt="user photo">
                    </div>
                </div>

                <div id="userDropdownMenu" style="margin-top: 8.5rem; position: absolute; align-items: end;"
                    class="nusuk transition ease-in-out delay-150 user-dropdown-content tw-min-w-max tw-absolute tw-bg-white tw-text-base tw-z-50 tw-float-left tw-py-2 tw-list-none tw-text-left tw-rounded-lg tw-shadow-lg tw-mt-1 tw-m-0 tw-bg-clip-padding tw-border-none">
                    <a class="tw-text-sm tw-py-2 tw-px-4 tw-font-normal tw-block tw-w-full tw-whitespace-nowrap tw-bg-transparent tw-text-gray-700 hover:tw-bg-gray-200"
                        href="#">Setting
                    </a>
                    <a class="tw-text-sm tw-py-2 tw-px-4 tw-font-normal tw-block tw-w-full tw-whitespace-nowrap tw-bg-transparent tw-text-gray-700 hover:tw-bg-gray-200"
                        href="/logout
                        ">Log out
                    </a>
                </div>
            </header>

            <!-- Main -->
            <main class="tw-max-w-full tw-h-full tw-flex tw-relative tw-overflow-y-hidden scrollbar">
                <!-- Main Content  -->
                <div id="mainContentApp"
                    class="tw-h-full tw-w-full tw-m-4 flex tw-flex-wrap tw-items-start tw-justify-start tw-rounded-tl tw-grid-flow-col tw-auto-cols-max tw-gap-4 tw-overflow-hidden scrollbar">
                </div>
            </main>
        </div>
    </div>
</body>

<script type="module" src="../../dist/js/Shared/layout.entry.js" defer></script>

</html>